.container {
	/* padding-top: 200px; */
	display: i;
  	width: 100%;

}

body {
	background-color: #cedfff80;

}

#navBar {
	background-color: white;
}

#indexContainer {
	display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}

